.search-bar {
  display: flex;
  align-items: center;
}
.search-bar input[type="text"] {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}
.search-bar button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4d1e4f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.search-bar button:hover {
  background-color: #555;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links li {
  list-style: none;
  margin-right: 15px;
}
.nav-links li:last-child {
  margin-right: 0;
}
