<!doctype html>
<html class="no-js" lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="description"
    content="The latest international news from Frivizn, featuring top stories from around the world and breaking news, as it happens.">
  <meta name="author" content="dukibu">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>World | Frivizn News</title>

  <link href="https://fonts.googleapis.com/css?family=Exo+2:400,700|Open+Sans&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/main.css">
    
</head>

<body>

  <div class="content-wrap">
    <!-- Header -->
    <header role="banner">

      <section class="nav-section">
        <!-- Logo -->
        <div class="logo">
          <a href="index.html" title="Frivizn logo">Frivizn</a>
        </div>

        <!-- Navigation -->
        <nav class="nav-menu" role="navigation">
          <ul class="nav-links">
            <li><a href="index.html" title="Home">Home</a></li>
            <li><a href="#article.html" title="World">World</a>
            <li><a href="#politics" title="Politics">Politics</a></li>
            <li><a href="#business" title="Business">Business</a></li>
            <li><a href="#sport" title="Sport">Sport</a></li>
            <li><a href="#entertainment" title="Entertainment">Entertainment</a></li>
            <li>
              <a href="#more" title="More">More...<span class="dropdown-toggle" aria-expanded="false"></span>
                <span class="screen-reader-text">Expand child menu</span></a>
              <ul class="sub-menu">
                <li><a href="#science" title="Science">Science</a></li>
                <li><a href="#travel" title="Travel">Travel</a></li>
                <li><a href="#health" title="Health">Health</a></li>
                <li><a href="#style" title="Style">Style</a></li>
                <li><a href="#weather" title="Weather">Weather</a></li>
                <li><a href="#video" title="Video">Video</a></li>
              </ul>
            </li>
          </ul>
          <div class="burger">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
          </div>
        </nav>
      </section> <!-- end of class="nav-section"-->

    </header>

    <!-- Main -->
    <main class="main-article" role="main">

      <article class="article">
          <h2>{{ article.title }}</h2>
          <p><small>{{ article.date }}</small><br> By {{ article.author }}</p>

          <div class="headline"></div>

          <div class="article-content">
              {{ article.content | replace('\n\n', '</p><p>') | replace('\n', '<br>') | safe }}
          </div>

          <figure>
              <img src="/static/images/world5.jpg" alt="Bridge night image">
              <figcaption>Pellentesque nec viverra felis</figcaption>
          </figure>

          <figure>
              <img src="/static/images/world10.jpg" alt="Bridge night image">
              <figcaption>Nam egestas enim vestibulum</figcaption>
          </figure>
      </article>

  </main>


      <!-- Sidebar -->
      <aside class="sidebar" role="complementary">
        <h2>Most Read</h2>
        <a href="#">
          <div class="sidebar-headline">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">13:53h</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">13:53h</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">13:53h</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">13:53h</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">13:53h</p>
          </div>
        </a>

        <h2>Top Comments</h2>
        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">1</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">2</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">3</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">4</p>
          </div>
        </a>

        <a href="#">
          <div class="sidebar-headline top-comments">
            <h3>Pariatur laboriosam voluptatum labore tenetur</h3>
            <p class="exact-time">5</p>
          </div>
        </a>
      </aside> <!-- End of  class="sidebar" -->

    </main> <!-- End of  class="main-article" -->


    <!-- Footer Links -->
    <div class="footer-links">

      <ul class="social-media-links">
        <li><a href="http://twitter.com"><span class="screen-reader-text">Twitter</span></a></li>
        <li><a href="http://facebook.com"><span class="screen-reader-text">Facebook</span></a></li>
        <li><a href="http://linkedin.com"><span class="screen-reader-text">LinkedIn</span></a></li>
        <li><a href="http://youtube.com"><span class="screen-reader-text">YouTube</span></a></li>
        <li><a href="http://instagram.com"><span class="screen-reader-text">Instagram</span></a></li>
      </ul>

      <ul class="main-footer-links">
        <li><a href="#world" title="World">World</a>
        <li><a href="#politics" title="Politics">Politics</a></li>
        <li><a href="#business" title="Business">Business</a></li>
        <li><a href="#sport" title="Sport">Sport</a></li>
        <li><a href="#entertainment" title="Entertainment">Entertainment</a></li>
        <li><a href="#science" title="Science">Science</a></li>
        <li><a href="#travel" title="Travel">Travel</a></li>
        <li><a href="#health" title="Health">Health</a></li>
        <li><a href="#style" title="Style">Style</a></li>
        <li><a href="#weather" title="Weather">Weather</a></li>
        <li><a href="#video" title="Video">Video</a></li>
      </ul>

      <ul class="info-links">
        <li><a href="#terms-of-use" title="Terms of Use">Terms of Use</a></li>
        <li><a href="#privacy-policy" title="Privacy Policy">Privacy Policy</a></li>
        <li><a href="#about-us" title="About Us">About Us</a></li>
        <li><a href="#advertising" title="Advertising">Advertising</a></li>
        <li><a href="#sitemap" title="Sitemap">Sitemap</a></li>
      </ul>

      <ul class="our-address">
        <li>Our Address:</li>
        <li>Main Street 123</li>
        <li>New York, NY 10000</li>
        <li>111-222-3333</li>
      </ul>

    </div> <!-- End of  class="footer-links" -->

    <!-- Footer Credit -->
    <footer role="contentinfo">
      <p>2019 &copy; by Frivizn Studio</p>
      <a class="scroll-top" href="#top"></a>
    </footer>

  </div> <!-- end of class="content-wrap" -->

  <!-- <script src="/static/js/modernizr.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="/static/js/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!--
      <script>
        window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script> 
    -->

</body>

</html>