<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Featured Article</title>
</head>
<body>
    <form action="/set-featured" method="post">
        <label for="articles">Choose an article:</label>
        <select name="articles" id="articles">
            {% for article in articles %}
                <option value="{{ article['filename'] }}">{{ article['title'] }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
