<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set Featured Article</title>
</head>
<body>
    <form action="/set-latest" method="post">
        <label for="article1">Choose an article:</label><br>
        <select name="article1" id="article1">
            {% for article in articles %}
                <option value="{{ article['filename'] }}">{{ article['title'] }}</option>
            {% endfor %}
        </select><br>

        <label for="article2">Choose another article:</label><br>
        <select name="article2" id="article2">
            {% for article in articles %}
                <option value="{{ article['filename'] }}">{{ article['title'] }}</option>
            {% endfor %}
        </select><br>

        <label for="article3">Choose yet another article:</label><br>
        <select name="article3" id="article3">
            {% for article in articles %}
                <option value="{{ article['filename'] }}">{{ article['title'] }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
a